table{
  width: 1500px;
  height: 100px;
  overflow: scroll;
  
}
tr{
  text-align: center;
  font-size: 18px;
  border: #f8f8f8;
}
td,th{
  height: 50px;
 font-family: Georgia, serif;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.pagination a {
  text-decoration: none;
  color: #333;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 0 5px;
  cursor: pointer;
}

.pagination a:hover {
  background-color: #eee;
}

.pagination .active>a {
  background: #ffa500;
  color: #fff; 
}