
.chlid {
    border-top: 0.1px solid #eee;
    border-right: 0.1px solid #eee;
    border-left: 0.1px solid #eee ;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight:700;
    cursor: pointer;
    text-decoration: none;
    color:black;
}

#chlid{
    border-bottom: 0.1px solid #eee;
}

.active{
    border-right: 5px solid #ffa500 ;
}